/** Page: Timeline **/

.layout {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;

  /* Deixar a sidebar e o content um ao lado do outro */
  display: grid;
  grid-template-columns: 300px 1fr;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 80px 1fr;
  }
}
